.App {
  text-align: center;
  padding: 10px;
}

.App-content {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 70%;
  margin: auto;
}

.Textarea {
  flex: 1;
  padding: 10px;
  height: 20%;
  word-break: break-all;
  overflow-wrap: break-word;
  width: 71.4%;
  max-height: 90vh;
  overflow-y: auto;
}

.Sidebar {
  flex: 1;  
  padding: 10px;
  border-left: 1px solid #ccc;
  width: 28.6%; 
}

.h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}